In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 1. Load the Data

In [5]:
!wget https://archive.ics.uci.edu/static/public/222/bank+marketing.zip

--2024-10-13 22:11:30--  https://archive.ics.uci.edu/static/public/222/bank+marketing.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified
Saving to: ‘bank+marketing.zip’

bank+marketing.zip      [    <=>             ] 999.85K   949KB/s    in 1.1s

2024-10-13 22:11:32 (949 KB/s) - ‘bank+marketing.zip’ saved [1023843]

In [14]:
!unzip -o bank+marketing.zip
!unzip -o bank.zip

Archive:  bank+marketing.zip
 extracting: bank.zip
 extracting: bank-additional.zip
Archive:  bank.zip
  inflating: bank-full.csv
  inflating: bank-names.txt
  inflating: bank.csv

In [15]:
!unzip -o bank-additional.zip

Archive:  bank-additional.zip
   creating: bank-additional/
  inflating: bank-additional/.DS_Store
   creating: __MACOSX/
   creating: __MACOSX/bank-additional/
  inflating: __MACOSX/bank-additional/._.DS_Store
  inflating: bank-additional/.Rhistory
  inflating: bank-additional/bank-additional-full.csv
  inflating: bank-additional/bank-additional-names.txt
  inflating: bank-additional/bank-additional.csv
  inflating: __MACOSX/._bank-additional

In [19]:
# Load the data from the CSV file
df = pd.read_csv('bank-full.csv', delimiter=';')
df.head(20)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no
10,41,admin.,divorced,secondary,no,270,yes,no,unknown,5,may,222,1,-1,0,unknown,no
11,29,admin.,single,secondary,no,390,yes,no,unknown,5,may,137,1,-1,0,unknown,no
12,53,technician,married,secondary,no,6,yes,no,unknown,5,may,517,1,-1,0,unknown,no
13,58,technician,married,unknown,no,71,yes,no,unknown,5,may,71,1,-1,0,unknown,no
14,57,services,married,secondary,no,162,yes,no,unknown,5,may,174,1,-1,0,unknown,no
15,51,retired,married,primary,no,229,yes,no,unknown,5,may,353,1,-1,0,unknown,no
16,45,admin.,single,unknown,no,13,yes,no,unknown,5,may,98,1,-1,0,unknown,no
17,57,blue-collar,married,primary,no,52,yes,no,unknown,5,may,38,1,-1,0,unknown,no
18,60,retired,married,primary,no,60,yes,no,unknown,5,may,219,1,-1,0,unknown,no
19,33,services,married,secondary,no,0,yes,no,unknown,5,may,54,1,-1,0,unknown,no

In [20]:
len(df)

45211

In [29]:
df.head(20).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
age,58,44,33,47,33,35,28,42,58,43,41,29,53,58,57,51,45,57,60,33
job,management,technician,entrepreneur,blue-collar,unknown,management,management,entrepreneur,retired,technician,admin.,admin.,technician,technician,services,retired,admin.,blue-collar,retired,services
marital,married,single,married,married,single,married,single,divorced,married,single,divorced,single,married,married,married,married,single,married,married,married
education,tertiary,secondary,secondary,unknown,unknown,tertiary,tertiary,tertiary,primary,secondary,secondary,secondary,secondary,unknown,secondary,primary,unknown,primary,primary,secondary
default,no,no,no,no,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no
balance,2143,29,2,1506,1,231,447,2,121,593,270,390,6,71,162,229,13,52,60,0
housing,yes,yes,yes,yes,no,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes
loan,no,no,yes,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no
contact,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
day,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
month,may,may,may,may,may,may,may,may,may,may,may,may,may,may,may,may,may,may,may,may
duration,261,151,76,92,198,139,217,380,50,55,222,137,517,71,174,353,98,38,219,54
campaign,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
pdays,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
previous,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
poutcome,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
y,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no

In [21]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [30]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

# 2. Data Preparation

In [22]:
# Filter the DataFrame to include only the specified columns
columns_of_interest = ['age', 'job', 'marital', 'education', 'balance', 
                        'housing', 'contact', 'day', 'month', 
                        'duration', 'campaign', 'pdays', 
                        'previous', 'poutcome', 'y']
df_filtered = df[columns_of_interest]

In [32]:
print(df_filtered.head(10))

   age           job   marital  education  balance housing  contact  day  \
0   58    management   married   tertiary     2143     yes  unknown    5
1   44    technician    single  secondary       29     yes  unknown    5
2   33  entrepreneur   married  secondary        2     yes  unknown    5
3   47   blue-collar   married    unknown     1506     yes  unknown    5
4   33       unknown    single    unknown        1      no  unknown    5
5   35    management   married   tertiary      231     yes  unknown    5
6   28    management    single   tertiary      447     yes  unknown    5
7   42  entrepreneur  divorced   tertiary        2     yes  unknown    5
8   58       retired   married    primary      121     yes  unknown    5
9   43    technician    single  secondary      593     yes  unknown    5

  month  duration  campaign  pdays  previous poutcome   y
0   may       261         1     -1         0  unknown  no
1   may       151         1     -1         0  unknown  no
2   may        76         1     -1         0  unknown  no
3   may        92         1     -1         0  unknown  no
4   may       198         1     -1         0  unknown  no
5   may       139         1     -1         0  unknown  no
6   may       217         1     -1         0  unknown  no
7   may       380         1     -1         0  unknown  no
8   may        50         1     -1         0  unknown  no
9   may        55         1     -1         0  unknown  no

In [26]:
# Check for missing values in the features
missing_values = df_filtered.isnull().sum()

In [33]:
# Check for missing values in the filtered DataFrame
missing_values = df_filtered.isnull().sum()
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 age          0
job          0
marital      0
education    0
balance      0
housing      0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

# **Q1**

In [43]:
# Calculate the mode for the education column
education_mode = df_filtered['education'].mode()[0]
print(education_mode)

secondary

# **Q2**

1- Select Numerical Features: Identify which columns in the DataFrame are numerical.

2- Calculate the Correlation Matrix: Use the .corr() method to compute the correlation matrix.

3- Identify the Most Correlated Features: Look for the pair of features with the highest correlation coefficient.

In [39]:
# Select numerical features from the filtered DataFrame
numerical_features = df_filtered.select_dtypes(include=['int64', 'float64'])
print(numerical_features)

       age  balance  day  duration  campaign  pdays  previous
0       58     2143    5       261         1     -1         0
1       44       29    5       151         1     -1         0
2       33        2    5        76         1     -1         0
3       47     1506    5        92         1     -1         0
4       33        1    5       198         1     -1         0
...    ...      ...  ...       ...       ...    ...       ...
45206   51      825   17       977         3     -1         0
45207   71     1729   17       456         2     -1         0
45208   72     5715   17      1127         5    184         3
45209   57      668   17       508         4     -1         0
45210   37     2971   17       361         2    188        11

[45211 rows x 7 columns]

In [40]:
# Calculate the correlation matrix
correlation_matrix = numerical_features.corr()
print("Correlation Matrix:\n", correlation_matrix)

Correlation Matrix:
                age   balance       day  duration  campaign     pdays  previous
age       1.000000  0.097783 -0.009120 -0.004648  0.004760 -0.023758  0.001288
balance   0.097783  1.000000  0.004503  0.021560 -0.014578  0.003435  0.016674
day      -0.009120  0.004503  1.000000 -0.030206  0.162490 -0.093044 -0.051710
duration -0.004648  0.021560 -0.030206  1.000000 -0.084570 -0.001565  0.001203
campaign  0.004760 -0.014578  0.162490 -0.084570  1.000000 -0.088628 -0.032855
pdays    -0.023758  0.003435 -0.093044 -0.001565 -0.088628  1.000000  0.454820
previous  0.001288  0.016674 -0.051710  0.001203 -0.032855  0.454820  1.000000

In [41]:
correlation_pairs = correlation_matrix.unstack()
correlation_pairs = correlation_pairs[correlation_pairs < 1]

In [42]:
# Identify the maximum correlation pair
max_correlation_pair = correlation_pairs.idxmax()
max_correlation_value = correlation_pairs.max()

print(f"The two features with the biggest correlation are: {max_correlation_pair} with a correlation of {max_correlation_value:.2f}")

The two features with the biggest correlation are: ('pdays', 'previous') with a correlation of 0.45

# **Q3**

In [46]:
df.y.head()

0    no
1    no
2    no
3    no
4    no
Name: y, dtype: object

In [47]:
df.y = (df.y == 'yes').astype(int)

In [49]:
df.y.head(20)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: y, dtype: int64